body {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 14px;
  color: #444;
  font-weight: 200;
}

img{
  vertical-align: bottom;
}

a {
  color: #0088aa;
}

.h1 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.2;
}
.h2 {
  position: relative;
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 40px;
  margin-top: 0;
  color: #385170;
  text-align: center;
}
.h2::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 50%;
  right: 50%;
  background: #385170;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.content:hover .h2::after {
  left: 20%;
  right: 20%;
  width: auto;
}
.h3 {
  color: #142d4c;
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 0;
}

.contents {
  margin: 0 auto;
  max-width: 800px;
}
.content {
  padding: 60px 10px 100px 10px;
  position: relative;
}
.content::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: calc(100vw + 20px);
  left: calc((800px - 100vw) / 2 - 10px);
}
.content:nth-child(even)::before {
  background: #fff;
}
.content:nth-child(even)::before {
  background: #ececec;
}
@media screen and (max-width: 768px) {
  .content::before {
    left: 0;
    width: 100%;
  }
}
